<% include partials/headers %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img src="<%= blog.image %>" class="ui centered round image" alt="blog image">
            <div class="description">
                <p><%= blog.body %></p>
            </div>
            <div class="content">
                <p><%= blog.created.toDateString() %></p>

            </div>
        </div>
    </div>
</div>
  

<% include partials/footers %>